/* this is the master css we will use for styling */

head{
	width: 76%;
	display: block;
	background-color:#383F51;
	height: auto;
}

body{
margin:0;	
padding:0;
background-color:#DDDBF1;
color:#383F51;
	height: auto;
	

}

.container_16{
	background-color:#383F51;
	width: 90%;
	float:left;
	height: auto;
	margin-left: 5%;
	display: block;
	clear: both;
}
.foo{
	float: left;
	display: block;
	clear: both;
	width: 90%;
	height: 10%;
	margin-left: 5%;
	background-color: #3C4F76;

}



}
img{
padding:0;
margin:0;
border:none;
display:block;

	
}

ul{
	list-style: none;
	padding: 0;
	margin-right: 0;
	margin-bottom: 0;
	
}
a{
text-decoration:none;
outline:0;
	padding-bottom: 0%;
	
	color:#3C4F76;

}

li{
text-decoration:none;
outline:0;
        padding-bottom: 0%;

        color:#3C4F76;

}

g{
margin-left: 5%;
	overflow: auto;

	width: 90%;
	height:auto;
	background-color:#AB9F9D;	
	display: block;
	text-align: justify;
	z-index: 1;
	
	
}
iframe{
	width:100%;
	height: 100%;
}
d{
	float: left;
	position: relative;
	display: inline-block;
	left:0%;
	width: 30%;
	height: 10%;
	background-color:#AB9F9D;
	
}
p.donectxt{
	padding-left: 3%;
	padding-right: 3%;
	font-size:1.4em;
	background-color:#AB9F9D;
	z-index: 1;
}


p.donectxt span{
display:block;
color:#3C4F76;
font-weight:bold;
background-color:inherit;
}

.container_19{
	background-color:#AB9F9D;
	width: 50%;
	display: block;
	float: left;
	height: 450px;
	}




/*--------------top div-------------------*/

img.logo{
margin:0% 0% 0% 5%;
float:left;
display:inline;
width:15%;
}

img.logo2{
margin-right: 5%;
float:right;
display:inline;
width:15%;
}

img.logomid{
display:inline;
width:29%;
margin-left:15%;
margin-right:15%;
}



.slider {
	padding-top: 5%;
  width: 30%;
  height: 500%;
  overflow: visible;
	display: block;
}


.slider a {
  -webkit-animation: round 16s infinite;
	display: block;
 float:left;
	position: absolute;
	}

img {
  width: 50%;
}

@-webkit-keyframes round {
  25% {
    opacity: 1;
    z-index: 1;
  }
  40% {
    opacity: 0;
	  z-index: 1;
	  
  }
}

.slider a:nth-child(4) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

.slider a:nth-child(3) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -ms-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}

.slider a:nth-child(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}

.slider a:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}


ul.navlink{
	float:left;
	font-size: 1.5em;
	margin-left: 7.5%;
	display: block;
	list-style: none;
	padding-bottom: 3%;
	width:100%;
	text-align: left;

}
ul.navlink li{
float:left;
	width:15%;
		 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
	z-index: 100;
	

}
ul.navlink li a{
padding-top:3%;
line-height:auto;
color:#DDDBF1;
background-color:#3C4F76;

	padding-right:0%;
	text-decoration: none;
	display: block; 
	padding-bottom: 3%;
	text-align:center;

	
}

ul.navlink li button{
padding-top:3%;
line-height:auto;
color:#DDDBF1;
background-color:#3C4F76;
width:100%;
        padding-right:0%;
        text-decoration: none;
        display: block; 
        padding-bottom: 3%;
        text-align:center;
	font-size:1em;
	font-family:serif;
}


ul.navlink li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top:0%;
  background: #DDDBF1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
	
}
ul.navlink li:hover:before, ul.navlink li:focus:before, ul.navlink li:active:before {
  left: 0;
  right: 0;
	z-index: 100;
}

ul.subnav li {
	display: none;
		position: relative;
}
ul.subnav ul {
		position: absolute;
}
ul.navlink li:hover ul.subnav li {
	float: none;
	color: #675C5C;
	background-color: #161616;
	display: block;
	z-index:100;
	background-color:#2D2D2D;
	width: 100%;
}



/
