body{
  margin:0;	
  padding:0;
  background-color:#DDDBF1;
  color:#383F51;
  height: auto;
}

.navbutton {
  border: ridge;
  border-radius: 0px;
}

a{
  text-decoration:none;
  outline:0;
  padding-bottom: 0%;
  color:#3C4F76;
}

#introduction {
  width: 90%;
  margin-left: 5%;
}

#maincontent {
  margin-left: 5%;
  width: 90%;
}

iframe{
  width:90%;
  height: 100%;
  margin-left: 5%;
}

d{
  float: left;
  position: relative;
  display: inline-block;
  left:0%;
  width: 30%;
  height: 10%;
  background-color:#AB9F9D;	
}

p.donectxt{
  padding-left: 3%;
  padding-right: 3%;
}

.container_19{
  background-color:#AB9F9D;
  width: 50%;
  display: block;
  float: left;
  height: 450px;
}
