div {
  float: left;
}

#mbuttons {
  text-align: left;width: 40%;
  margin-left: 5%;
}

#buttons2 {
  text-align: left;width: 30%;
}

#refresh {
  float: right; width:15%;
  margin-right: 5%;
}

#mfunchelp {
  width:20em;
  padding:0.4em;
  font-size:0.7em;
}

#mfunchelp a {
  color: black;
}

.selected {
  fill: red;
}

#topbuttons {
  float: right;
  margin-right: 5%;
}

#categoryhelp {
  top: 19em;
  left: 92%;
}

#sethelp {
  left: 25%;
}

#plothelp {
  left: 95%;
}

#canvashelp {
  top: 19em;
  left: 75%;
}

#scattertooltip {
  top: 22em;
  left: 40%;
}

#yaxistooltip {
  top: 19em;
  left: 5%;
}

#xaxistooltip {
  top: 65em;
  left: 15%;
}

#categorytooltip {
  top: 30em;
  left: 75%;
}

#threetooltip {
  top: 70em;
  left: 18%;
  z-index: 20;
}

#cleartooltip {
  top: 85em;
  left: 40%;
  z-index: 20;
}

#motiftooltip {
  top: 90em;
  left: 5%;
}

#settingtooltip {
  top: 110em;
  left: 5%;
}

#antisort1tooltip {
  top: 104em;
  left: 70%;
}

#antisort2tooltip {
  top: 110em;
  left: 70%;
}

#cellsorttooltip {
  top: 120em;
  left: 70%;
}
