div {
  float: left;
}

#mbuttons {
  text-align: left;width: 40%;
  margin-left: 5%;
}

#buttons2 {
  text-align: left;width: 30%;
}

#refresh {
  float: right; width:15%;
  margin-right: 5%;
}

#mfunchelp {
  width:20em;
  padding:0.4em;
  font-size:0.7em;
}

#mfunchelp a {
  color: black;
}

.selected {
  fill: red;
}
