div {
  float: left;
}

#motifchart1 {
  width:75% ;background-color: white;border:1px solid black;height:47em;
  float: left;
  margin-left: 5%;
  position:relative;
}

#motifchart2 {
  width:15%;
  overflow-y: scroll;
  background-color: white;
  border:1px solid black;
  height:47em;
  position: relative;
}

#motifchart3 {
  width:75%;background-color: white;border:1px solid black;height:11em;position: relative;
  //overflow: auto;
  margin-left: 5%;
  position: relative;
}

#motifchart4 {
  width:15%; background-color: white;height:11em;border:1px solid black;
}

#motifchart4 p {
  margin-left:5px;margin-top:3px;margin-bottom:0px;
}

#motifchart4 img {
  width:95%;height:61%;opacity=30%;margin-right: 1px;margin-top: 1px;
}

#mbuttons {
  text-align: left;width: 40%;
  margin-left: 5%;
}

#buttons2 {
  text-align: left;width: 30%;
}

#refresh {
  float: right; width:15%;
  margin-right: 5%;
}

#mfunchelp {
  width:20em;
  padding:0.4em;
  font-size:0.7em;
}

#mfunchelp a {
  color: black;
}

.selected {
  fill: red;
}

#topbuttons {
  float: none;
  margin: auto;
  width: 36em;
}

#categoryhelp {
  top: 10%;
  left: 80%;
}

#sethelp {
  left: 25%;
}

#plothelp {
  left: 95%;
}

#canvashelp {
  top: 9%;
  left: 95%;
}

#scattertooltip {
  top: 10%;
  left: 40%;
}

#yaxistooltip {
  top: 20%;
  left: 5%;
}

#xaxistooltip {
  top: 63%;
  left: 70%;
}

#categorytooltip {
  top: 30em;
  left: 75%;
  z-index: 20;
}

#threetooltip {
  top: 10%;
  left: 8%;
  z-index: 20;
}

#cleartooltip {
  top: 60%;
  left: 40%;
  z-index: 20;
}

#motiftooltip {
  top: 90em;
  left: 5%;
}

#settingtooltip {
  top: 110em;
  left: 5%;
}

#antisort1tooltip {
  top: 104em;
  left: 70%;
}

#antisort2tooltip {
  top: 110em;
  left: 70%;
}

#cellsorttooltip {
  top: 120em;
  left: 70%;
}

