#histhelp {
  top: 67em;
  left: 90%;
}

#paneltooltip {
  top: 18em;
  left: 50%;
}

#histogramtooltip {
  top: 40em;
  left: 35%;
}

#navitooltip {
  top: 101em;
  left: 72%;
}

#settingtooltip {
  top: 105em;
  left: 20%;
}

#motiftooltip {
  top: 117em;
  left: 20%;
}
