h4 {
  margin:auto;
  text-align:center;
  font-size:1.3em;
  padding-bottom:1.5em;
  padding-top:8em;
}

a.visible {
  display: block;
}

body {
 background-color: #DDDBF1;
}

/*-----erik stuff-----*/
.container_16{
        background-color:#383F51;
        width: 90%;
        float:left;
        height: auto;
        margin-left: 5%;
        display: block;
        clear: both;
}

.foo{
  float: left;
  display: block;
  clear: both;
  width: 90%;
  height: 75px;
  margin-left: 5%;
  background-color: #3C4F76;
  margin-right: 5%;
}

ul{
        list-style: none;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;

}
li{
text-decoration:none;
outline:0;
        padding-bottom: 0%;

        color:#3C4F76;

}
a{
text-decoration:none;
outline:0;
        padding-bottom: 0%;

        color:#3C4F76;

}

/*---- top div by erik----*/
img.logo{
margin:0% 0% 0% 5%;
float:left;
display:inline;
width:15%;
}

img.logo2{
margin-right: 5%;
float:right;
display:inline;
width:15%;
}

img.logomid{
  display:inline;
  width:29%;
  margin-left:15%;
  margin-right:15%;
}
/*
img {
  width: 50%;
  height: 5em;
}*/

@-webkit-keyframes round {
  25% {
    opacity: 1;
    z-index: 1;
  }
  40% {
    opacity: 0;
          z-index: 1;

  }
}

ul.navlink{
        float:left;
        margin-left: 5%;
        display: block;
        list-style: none;
        padding-bottom: 3%;
        width:100%;
        text-align: left;

}
ul.navlink li{
float:left;
        width:15%;
                 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
        z-index: 100;


}
ul.navlink li a{
padding-top:3%;
line-height:auto;
color:#DDDBF1;
background-color:#3C4F76;

        padding-right:0%;
        text-decoration: none;
        display: block; 
        padding-bottom: 3%;
        text-align:center;


}

ul.navlink li button{
padding-top:3%;
color:#DDDBF1;
background-color:#3C4F76;
width:100%;
        padding-right:0%;
        text-decoration: none;
        display: block; 
        padding-bottom: 3%;
        text-align:center;
        font-size: 26px;
        font-family:serif;
}
ul.navlink li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top:0%;
  background: #DDDBF1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
ul.navlink li:hover:before, ul.navlink li:focus:before, ul.navlink li:active:before {
  left: 0;
  right: 0;
        z-index: 100;
}

ul.subnav li {
        display: none;
                position: relative;
}
ul.subnav ul {
                position: absolute;
}
ul.navlink li:hover ul.subnav li {
        float: none;
        color: #675C5C;
        background-color: #161616;
        display: block;
        z-index:100;
        background-color:#2D2D2D;
        width: 100%;
}

/*--- end of erik stuff */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 38em;
  height: 11em;
  pointer-events: none;

  text-align: center;
  background-color: #d9e5f6;
  color: #031023;
  border-radius: 6px;
  padding: 5px 0;
}

#chart_venn {
  width:90%;
  height:40vw;
  background-color: white;
  border:1px solid black;
  display:block;
  float:none;
  margin-left: 5%;
  position: relative;
}

div#buttons {
  float: left;
}

.axisRed {
  stroke: white;
  fill: white;
}

button {
    background-color: #777777; /* Grey */
    border: none;
    color: white;
    padding: 0.2em 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    width: 14em;
}

button:hover {
    background-color: #666666; /* Grey */
}


a {
    text-decoration: none;
    color: blue;

}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.3em;
  grid-auto-rows: minmax(1em, auto);
  height: 4em;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.3em;
  grid-auto-rows: minmax(1em, auto);
  height: 8em;
  width: 100%;
}

.one {
  grid-column: 1 ;
  grid-row: 1;
}
.two {
  grid-column:  2;
  grid-row: 1;
}
.three {
  grid-column:  3 / 5;
  grid-row: 1;
}

.threeAH {
  grid-column:  5;
  grid-row: 1;
}

.four {
  grid-column: 1 ;
  grid-row: 2;
}
.five {
  grid-column:  2;
  grid-row: 2;
}
.six {
  grid-column: 3 / 5;
  grid-row: 2;
}
.sixAH { 
  grid-column:  5;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
}
.eight {
  grid-column:  2;
  grid-row: 3;
}
.nine {
  grid-column: 3 / 5;
  grid-row: 3;
}
.nineAH { 
  grid-column:  5;
  grid-row: 3;
}

option[disabled] {
  display: none;
}

option.cell_unselected  {
  display: none;
}

a.disabled {
  display: none;
}

a.cell_unselected  {
  display: none;
}

#data {
  position: absolute;
  top: 13vw;
  left: 35vw;
}

#data2 {
  position: absolute;
  top: 13vw;
  left: 53vw;
}

#data3 {
  position: absolute;
  top: 31vw;
  left: 44vw;
}

#data1i2 {
  position: absolute;
  top: 13vw;
  left: 44vw;
}

#data1i3 {
  position: absolute;
  top: 23vw;
  left: 38vw;
}
#data2i3 {
  position: absolute;
  top: 23vw;
  left: 50vw;
}

#data1i2i3 {
  position: absolute;
  top: 20vw;
  left: 44vw;
}

.venn_circle {
  display: float;
  opacity: 0.5;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
}

#circle {
  top: 8vw;
  left: 30vw;
  background-color:red;
  position: absolute;
}

#circle2 {
  top: 8vw;
  left: 40vw;
  background-color:blue;
  position: absolute;
}

#circle3 {
  top: 18vw;
  left: 35vw;
  background-color:green;
  position: absolute;
}

#ifrm{
  width:100% ;
  background-color: white;
  height:100%;
}

.paired_button {
  height: 3em;
}

/* exp_table.php */
.exptable {
  width: 75%;
}

.whiteboard {
  background-color: white;
}

/* venn_diagram.php */
#glossary {
  width:99% ;background-color: white;border:1px solid black;height:55em;display:none;z-index: 11;
}

#chart4 {
  width:15%; background-color: white;height: 11em;border:1px solid black;
  float: left;
  margin-right: 5px;
}

#chart4 p {
  margin-left:5px;margin-top:3px;margin-bottom:0px;
}

#chart4 img {
  width:95%;height:61%;opacity=30%;margin-left: 1em;margin-right: 1px;margin-top: 1px;
}

.venntable {
  margin: auto;
}

.exp1 {
  background: #ff6666;
}

.exp2 {
  background: #6666ff;
}

.exp3 {
  background: #66ff66;
}

#motifbuttons {
  height:11em;
  padding-top: 1em;
  width: 90%;
  margin-left: 5%;
}

/* pairshift_view.php */
#chart {
  width:90% ;background-color: white;border:1px solid black;display:block;float:none;height:60em;
  margin-left: 5%;
}

#logo_chart {
  width:90%; background-color: white;height: 8em;border:1px solid black;
  margin-left: 5%;
}

#logo_chart p {
  float: left;
}

#logo_chart img {
  width:15%;height:95%;opacity=30%;margin-left: 1em;margin-right: 1px;margin-top: 1px;float:left;
}

/* motif_view.php */
#motifchart1 {
  width:75% ;background-color: white;border:1px solid black;height:47em;
  float: left;
  margin-left: 5%;
}

#motifchart2 {
  width:15%;overflow-y: scroll; background-color: white;border:1px solid black;height:47em;
}

#motifchart3 {
  width:75%;background-color: white;border:1px solid black;height:11em;position: relative;
  overflow: auto;
  margin-left: 5%;
}

#motifchart4 {
  width:15%; background-color: white;height:11em;border:1px solid black;
}

#motifchart4 p {
  margin-left:5px;margin-top:3px;margin-bottom:0px;
}
#motifchart4 img {
  width:95%;height:61%;opacity=30%;margin-right: 1px;margin-top: 1px;
}

/* experiment_view */
.dropdown {
  background:#cccccc;
}

#explist {
  overflow-y: scroll;
}

#expdesc {
  width: 30%;
  margin-left: 5%;
}

.halfdiv {
  width: 40%;
}

#motifdesc {
  width:48%;
  float:right;
}

.label {
  font-size: 30px;
  font-weight: bold;
}

.boldtxt {
  font-weight: bold;
}

#helpcontent {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#helpcontent > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
}

#quickmenu > ul > li {
  font-size: 24pt;
  list-style-type: disc;
  margin-left: 50px;
}
