

option {
font-size: 1.3em;

}
select {
font-size: 1.3em;

}



/*-----exp view-----*/
text {
font-size: 1.3em;
}
p {
font-size: 1.3em;
}

a.visible {
display: block;
}

body {
  font: 0.9em serif;
 background-color: #DDDBF1;
}

/*-----erik stuff-----*/
.container_16{
        background-color:#383F51;
        width: 100%;
        float:left;
        height: auto;
        display: block;
        clear: both;
	height: 5em;
}
.foo{
        float: left;
        display: block;
        clear: both;
        width: 100%;
        height: 4.8em;
        background-color: #3C4F76;

}
ul{
        list-style: none;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;

}
li{
text-decoration:none;
outline:0;
        padding-bottom: 0%;

        color:#3C4F76;

}
a{
text-decoration:none;
outline:0;
        padding-bottom: 0%;

        color:#3C4F76;

}

/*---- top div by erik----*/
img.logo{
margin:0% 0% 0% 5%;
float:left;
display:inline;
width:10%;
}

img.logo2{
margin-right: 5%;
float:right;
display:inline;
width:10%;
}

img.logomid{
display:inline;
width:20%;
margin-left:25%;
margin-right:15%;
}

img {
  width: 50%;
}

@-webkit-keyframes round {
  25% {
    opacity: 1;
    z-index: 1;
  }
  40% {
    opacity: 0;
          z-index: 1;

  }
}

ul.navlink{
        float:left;
        font-size: 1.5em;
        display: block;
        list-style: none;
        padding-bottom: 3%;
        width:100%;
        text-align: left;

}
ul.navlink li{
float:left;
        width:15%;
                 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
        z-index: 100;


}
ul.navlink li a{
padding-top:3%;
line-height:auto;
color:#DDDBF1;
background-color:#3C4F76;

        padding-right:0%;
        text-decoration: none;
        display: block; 
        padding-bottom: 3%;
        text-align:center;


}

ul.navlink li button{
padding-top:3%;
line-height:auto;
color:#DDDBF1;
background-color:#3C4F76;
width:100%;
        padding-right:0%;
        text-decoration: none;
        display: block; 
        padding-bottom: 3%;
        text-align:center;
        font-size:1em;
        font-family:serif;
}
ul.navlink li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top:0%;
  background: #DDDBF1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
ul.navlink li:hover:before, ul.navlink li:focus:before, ul.navlink li:active:before {
  left: 0;
  right: 0;
        z-index: 100;
}

ul.subnav li {
        display: none;
                position: relative;
}
ul.subnav ul {
                position: absolute;
}
ul.navlink li:hover ul.subnav li {
        float: none;
        color: #675C5C;
        background-color: #161616;
        display: block;
        z-index:100;
        background-color:#2D2D2D;
        width: 100%;
}

/*--- end of erik stuff */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 38em;
  height: 11em;
  pointer-events: none;

  text-align: center;
  background-color: #d9e5f6;
  color: #031023;
  border-radius: 6px;
  padding: 5px 0;
}

div {
  float: left;
}

#chart_venn {
  height: 55em;
  width:94%;
  background-color: white;
  border:1px solid black;
  display:block;
  float:none;
}

div#buttons {
  float: left;
}

.axisRed {
  stroke: white;
  fill: white;
}

img {
  height: 5em;
}


button {
    background-color: #777777; /* Grey */
    border: none;
    color: white;
    padding: 0.2em, 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 3px;
    width: 14em;
    font-size: 1.2em;
}

button:hover {
    background-color: #666666; /* Grey */
}


a {
    text-decoration: none;
    color: blue;

}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.3em;
  grid-auto-rows: minmax(1em, auto);
  height: 2em;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.3em;
  grid-auto-rows: minmax(1em, auto);
  height: 12em;
  width: 100%;
}

.one {
  grid-column: 1 ;
  grid-row: 1;
}
.two {
  grid-column:  2;
  grid-row: 1;
}
.three {
  grid-column:  3 / 5;
  grid-row: 1;
}

.threeAH {
  grid-column:  5;
  grid-row: 1;
}

.four {
  grid-column: 1 ;
  grid-row: 2;
}
.five {
  grid-column:  2;
  grid-row: 2;
}
.six {
  grid-column: 3 / 5;
  grid-row: 2;
}
.sixAH { 
  grid-column:  5;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
}
.eight {
  grid-column:  2;
  grid-row: 3;
}
.nine {
  grid-column: 3 / 5;
  grid-row: 3;
}
.nineAH { 
  grid-column:  5;
  grid-row: 3;
}

option[disabled] {
  display: none;
}

option.cell_unselected  {
  display: none;
}

a.disabled {
  display: none;
}

a.cell_unselected  {
  display: none;
}

#data {
position: absolute;
top: 27em;
left: 35%;
}

#data2 {
position: absolute;
top: 27em;
left: 65%;
}

#data3 {
position: absolute;
top: 45em;
left: 50%;
}

#data1i2 {
position: absolute;
top: 25em;
left: 50%;
}

#data1i3 {
position: absolute;
top: 34em;
left: 40%;
}
#data2i3 {
position: absolute;
top: 36em;
left: 58%;
}

#data1i2i3 {
position: absolute;
top: 32em;
left: 50%;
}


#circle {
position: absolute;
display: float;
top: 28em;
left: 30%;
}

#circle2 {
position: absolute;
display: float;
top: 28em;
left: 45%;
}

#circle3 {
position: absolute;
display: float;
top: 38em;
left: 38%;
}

.threechosen {
padding: 0.5em;
}


.paired_button {
height: 3em;
padding: 0.2em;
}
